[submodule "bundled/biolib"]
	path = bundled/biolib
	url = https://github.com/yhhshb/biolib.git
	branch = dev
[submodule "bundled/pthash"]
	path = bundled/pthash
	url = https://github.com/jermp/pthash.git
	branch = phobic
[submodule "bundled/FQFeeder"]
	path = bundled/FQFeeder
	url = https://github.com/rob-p/FQFeeder
[submodule "bundled/unordered_dense"]
	path = bundled/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
